/* 
#472183 = dark violet
#4B56D2 = violet
#82C3EC = light blue
#F1F6F5 = light white
*/

/* main */
#bg-body {
    background-color: #F1F6F5;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* nav */
.navbar {
    background-color: #4B56D2;
}

/* content */

/* categories */
#categories {
    padding: 3% 0;
}

#categories .card-body {
    padding: 5%;
}

#categories a {
    margin: 5px 0;
    width: 100%;
}

/* difficulties */

#difficulties {
    padding: 3% 0;
}

#difficulties .card-body {
    padding: 5%;
}

#difficulties a {
    margin: 5px 0;
    width: 80%;
}

/* take-quiz */

#take-quiz {
    padding: 3% 0;
    text-align: left;
}

#take-quiz p, #take-quiz .btn-container  {
    margin: 1rem;
}

.btn-container {
    text-align: right;
}

#take-quiz .form-check {
    border: 1px solid #000;
    margin: 1rem;
    padding: 10px 2.5rem;
    
}

#take-quiz .form-check input {
    box-sizing: border-box;
}

#take-quiz label {
    cursor: pointer;
    width: 100%;
}

#take-quiz a, #take-quiz button {
    margin-top: 0.7rem;
}